<div class="container">


    <h1>User Details</h1>
    <div class="sm-jumbotron" *ngIf="userLists">
        <div class="d-flex flex-row bg-secondary">

            <div class="search">

                <input type="text" placeholder=" Search by userName" [(ngModel)]="searchInput.userName"
                    style=" border-radius:10px;width:180px;border: 2px solid #1c59bb;">
                <div *ngIf="(userLists| filterBy:searchInput).length===0">No Match</div>


            </div>

            <div class="records">

                <select (change)="onTableSizeChangeEvent($event)">
                    <option>No Of Records</option>
                    <option *ngFor="let size of tableSizes">

                        {{size}}

                    </option>

                </select>

                   
        <button type="button" class="btn btn-link" id="plus" (click)="addUser()"
        ><span
            class="bi bi-plus-circle-fill"></span></button>

            </div>
      

        </div>

        <h4 *ngIf="deleteResult"> {{deleteResult}}</h4>


       
        <table class="table table-striped">

            <thead>

                <tr>

                    <th scope="col" (click)="sort('id')">UserId<i class="fa fa-sort"></i></th>

                    <th scope="col" (click)="sort('name')">FullName<i class="fa fa-sort"></i></th>





                    <th scope="col" (click)="sort('userName')">UserName<i class="fa fa-sort"></i></th>



                    <th scope="col">MobileNumber</th>


                    <th scope="col">Mail Id </th>


                    <th colspan="2" style="text-align:center ;">Actions </th>
                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let user of userLists | orderBy: orderHeader:isDescOrder |filterBy:searchInput
                            | paginate :{itemsPerPage:tableSize, 
                            currentPage: page,
                            totalItems:count } ; let i=index">

                    <th scope="row"> {{user.id}}</th>

                    <td>{{user.name}}</td>

                    <td>{{user.userName}}</td>

                    <td>{{user.mobileNumber}}</td>



                    <td>{{user.emailId}}</td>

                    <td *ngIf="user.isActive==true">

                      
                        <button type="button" class="btn btn-link" id="delete"
                        (click)="deleteById(user.id)"><span
                            class="bi bi-trash-fill"></span></button>

                     

                    </td>
                    <td *ngIf="user.isActive==false">

                        <button type="button" class="btn btn-link" id="delete"
                        (click)="activateById(user.id)"><span
                            class="bi bi-trash-fill"></span></button>

                     
                        
                <td >

                    <button type="button" class="btn btn-link" id="edit"
                    (click)="edit(user.id)"><span
                        class="bi bi-pencil-square"></span></button>

            </tr>
            </tbody>

        </table>
       
        

        <div class="final">
            <pagination-controls previousLabel="prev" nextLabel="next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>


    <div *ngIf="displayAdd">
        <div class="bg-img">
            <div class="content">
                <header>Signup</header>
                <form [formGroup]="registerform" (ngSubmit)="formSubmit()">
                    <div>
                        <div class="field space">
                            <span class="fa fa-user-circle"></span>
                            <input type="text" class="form-control" id="NAME" formControlName="NAME" placeholder="FullName"
                                [(ngModel)]="userAdd.name">
                        </div>
        
                      
        
                        <div class="form-text text-danger" *ngIf="name.errors?.['required'] && (name.touched || name.dirty)">
                            Name is Required
                        </div>
                        <div class="form-text text-danger" *ngIf="name.errors?.['minlength'] && (name.touched || name.dirty)">
                            Name should be min 3 letters
                        </div>
                        <div class="form-text text-danger" *ngIf="name.errors?.['pattern'] && (name.touched || name.dirty)">
                            Name should have only Alphabets
                        </div>
                    </div>
        
        
        
                    <div>
                        <div class="field space">
                            <span class="fa fa-user"></span>
        
                            <input type="text" class="form-control" id="USERNAME" formControlName="USERNAME"
                                [(ngModel)]="userAdd.userName" placeholder="Username" >
                        </div>
                       
                        <div class="form-text text-danger"
                            *ngIf="Username.errors?.['required'] && ( Username.touched || Username.dirty)">
                            Userame required
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Username.errors?.['minlength'] && (Username.touched || Username.dirty)">
                            minimum length of 5
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Username.errors?.['pattern'] && (Username.touched || Username.dirty)">
                            username should start with Alphabet
                        </div>
                    </div>
        
                    <div>
                        <div class="field space">
                            <span class="fa fa-lock"></span>
                            <input type="password" class="form-control" id="PASSWORD" formControlName="PASSWORD"
                                [(ngModel)]="userAdd.password" placeholder="Password">
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Password.errors?.['required'] && ( Password.touched || Password.dirty)">
                            Password Required
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Password.errors?.['pattern'] && ( Password.touched || Password.dirty)">
                            Must have 1-Upper, 1-lower,1-special char,1-digit,no spaces
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Password.errors?.['minLength'] && ( Password.touched || Password.dirty)">
                            Min chars 8 only
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Password.errors?.['maxLength'] && ( Password.touched || Password.dirty)">
                            Max chars 16 only
                        </div>
        
        
                    </div>
                    <div>
                        <div class="field space">
                            <span class="fa fa-mobile"></span>
                            <input type="text" class="form-control" id="mobile" formControlName="MOBILENUMBER"
                                [(ngModel)]="userAdd.mobileNumber" placeholder="MobileNumber">
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="MobileNo.errors?.['required'] && ( MobileNo.touched || MobileNo.dirty)">
                            Mobile number required
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="MobileNo.errors?.['pattern'] && ( MobileNo.touched || MobileNo.dirty)">
                            Must have only digits
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="MobileNo.errors?.['minlength'] && ( MobileNo.touched || MobileNo.dirty)">
                            Min numbers 10 only
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="MobileNo.errors?.['maxlength'] && ( MobileNo.touched || MobileNo.dirty)">
                            Max numbers 10 only
                        </div>
                    </div>
                    <div>
                        <div class="field space">
                            <span class="fa fa-envelope"></span>
                            <input type="text" class="form-control" id="EMAIL" formControlName="EMAIL"
                                [(ngModel)]="userAdd.emailId" placeholder="EmailId">
                        </div>
                        <div class="form-text text-danger"
                            *ngIf="Email.errors?.['required'] && ( Email.touched || Email.dirty)">
                            Email required
                        </div>
                        <div class="form-text text-danger" *ngIf="Email.errors?.['pattern'] && ( Email.touched || Email.dirty)">
                            Must End with (@gmail,@yahooo).com avoid special charcters in id.
                        </div>
                    </div>
        
                   

                    <div class="add">
                        <div>
                            <button class="btn btn-primary" type="submit"
                                [disabled]="registerform.invalid">ADD</button>
                        </div>
                        <div>
                            <button class="btn cancel" (click)="cancelAdding()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div  *ngIf="viewChild" style="border: solid 1px black; padding:15px;">
        
        <app-child  [id]="id" (changeIndicator)="changeIndicator($event)"> 
            <!-- <h1>hello Users</h1>
            <button (click)="inc()">hello</button> -->
            
        </app-child>
    </div>
    
</div>