
<div class="sidenav">
  <ul class="nav-list">  
        <li class="nav-list-item " >
           
            <span>
                <a routerLink='lazyorders' routerLinkActive="active">lazyloading</a>
            </span>
       </li>

        <li class="nav-list-item  " >
          
            <span >
                <a   routerLink='interpolation' routerLinkActive="active">interpolation/Binding</a>
            </span>
        </li>

        <li class="nav-list-item  " >
           
            <span>
                <a   routerLink='directives' routerLinkActive="active">Directives</a>
            </span>
        </li>

        <li class="nav-list-item  " >
            
            <span >
                <a   routerLink='pipes' routerLinkActive="active" >Pipes</a>
            </span>
        </li>
    

    <li class="nav-list-item  " >
       
        <span >
            <a   routerLink='profile' routerLinkActive="active">Profile</a>
        </span>
    </li>

    <li class="nav-list-item  " >
      
        <span >
            <a   routerLink='about' routerLinkActive="active">About</a>
        </span>
    </li>

</ul>
</div>
